/*
Site Name: EMS Bootstrap Theme
Author: WBR Web Team
Year: 2015

eTail Red   - #c80b26
eTail Blue  - #012B45

bootstrap-primary: #428bca;
bootstrap-success: #5cb85c;
bootstrap-info:    #5bc0de;
bootstrap-warning: #f0ad4e;
bootstrap-danger:  #d9534f;

*/

body{background:#fbfbfb; font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';}
h1.page-header{text-align:center;}

#nav-container{height:50px; background-color:#fff; }
.navbar-default {background:#fff!important; border-bottom:2px solid #c80b26!important;}
.nav-navbar-mobile li>a:link {padding:12px; font-size:11px;}

.navbar-nav>li{border-right:1px solid #eee;}
.navbar-nav>li:hover{border-top:1px solid #E9392F;}
.navbar-nav>li:last-child{border-right:0px;}

.navbar-nav>li>a:link{color:#284973;font-size:11px; text-transform:uppercase; letter-spacing:0.065em; font-weight:400; height:48px; font-family:'Lato','Helvetica Neue','Helvetica','Arial','sans-serif';}
.navbar-nav>li>a:visited{color:#032b45;}
.navbar-nav>li>a:hover{color:#c9222b; border-top:1px solid #E9392F; margin-top:-2px;}

.dropdown-menu{background-color: rgba(1, 43, 69, 0.85); border:1px #012B45 solid; box-shadow: 3px 3px 10px #333;}
.dropdown-menu>li {margin:10px auto;}
.dropdown-menu>li:first-child {margin-top:0px;}
.dropdown-menu>li:last-child {margin-bottom:0px;}
.dropdown-menu>li>a:link{font-size:11px; letter-spacing:0.065em; text-transform:uppercase; font-weight:400; padding:10px; font-family:'Lato','Helvetica Neue','Helvetica','Arial','sans-serif';}
 
#header-content .event-dynamic-name h3 {color:#E9EED0!important;}
#header-content .event-dynamic-name:hover {color:#E9EED0!important;}
#header-content .event-dynamic-info span{color:#fff!important; font-size:80%; font-weight:400; line-height:20px; letter-spacing:0.065em;}

/* col-xs-* */ 
@media only screen and (min-width :320px){ 
	.navbar-nav>li>a{font-size:10px!important;padding:10px 15px;}
	.nav-navbar-mobile>li>a{font-size:12px!important;padding:10px 15px;}
   
   .dropdown-menu>li>a:link{color:#012B45; font-size:10px;}
   .dropdown-menu>li>a:visited{color:#012B45;}
   .dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-xs-* */ 
@media only screen and (min-width :480px){
	.navbar-brand img{height:70px; margin-top:-10px;}
 	.navbar-nav>li>a{font-size:10px!important;padding:10px 15px;}
	.nav-navbar-mobile>li>a{font-size:12px!important;padding:10px 15px;}

  	.dropdown-menu>li>a:link{color:#fff;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-sm-* */
@media only screen and (min-width :768px){ 
	.navbar-brand img{height:70px; margin-top:-10px;}
  	.navbar-nav{float:none;}
	.navbar-nav>li>a{font-size:10px!important;padding:15px 9px;}

	.dropdown-menu>li>a:link{color:#fff;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-md-* */
@media only screen and (min-width :992px){
	.navbar-brand img{height:90px; margin-top:-10px;}
 	.navbar-nav{float:left;}
	.navbar-nav>li>a{font-size:12px!important;padding:15px;}
	
	.dropdown-menu>li>a:link{color:#fff; font-size:12px;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-lg-* */
@media only screen and (min-width :1200px){
	.navbar-brand img{height:110px; margin-top:-10px;}
 	.navbar-nav{float:left;}
	.navbar-nav>li>a{font-size:12px!important;padding:15px 20px;}
	
	.dropdown-menu>li>a:link{color:#fff; font-size:12px;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}


/*-----------------------------------------------------------------
// Home Page
-----------------------------------------------------------------*/
.container blockquote {background:#fbfbfb; border-left:3px #eee solid!important;}
.container blockquote p {font-weight:200!important; display:inline-block;}
.container cite:before {content: "- ";}
.container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;} 
.container-fluid .container blockquote {background-color:transparent; padding:0px!important; margin:40px auto!important; border:none!important;}
.container-fluid .container blockquote p {font-weight:200!important;}
.container-fluid .container cite:before {content: "- ";}
.container-fluid .container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;}


/*-----------------------------------------------------------------
// Speaker Page
-----------------------------------------------------------------*/
/* Speaker Listing Page */
.speaker-list  .speaker-listing{}
.speaker-list  .speaker-name{}
.speaker-list  .speaker-title{display:block;}
.speaker-list  .speaker-company{display:block;}
.speaker-list  .speaker-logo{}
.speaker-list  .speaker-image img{display: block; max-width: 100%; height: auto;}

/* Speaker Info Page */
.speaker-info .speaker-listing{}
.speaker-info .speaker-name{}
.speaker-info .speaker-title{font-size:16px!important; font-weight:700;}
.speaker-info .speaker-company{font-size:16px!important; font-weight:700;}
.speaker-info .speaker-logo{float:right; margin:10px;}
.speaker-info .speaker-image img{display: block; max-width: 100%; height: auto;}



/*-----------------------------------------------------------------
// Agenda Styles
-----------------------------------------------------------------
.single-track .panel-default{border:1px DarkRed  solid;}
.single-track .panel-title{color:#fff;}
.single-track .panel-default>.panel-heading {background:DarkRed ;}

.double-track .panel-default{border:1px green solid	;}
.double-track .panel-title{color:#fff;}
.double-track .panel-default>.panel-heading {background:green;}
.double-track div:nth-child(2) .panel-default {border:1px #003300 solid!important;}
.double-track div:nth-child(2) .panel-default>.panel-heading {border:1px #003300 solid!important; background:#003300!important;}

.triple-track .panel-default{border:1px blue solid;}
.triple-track .panel-title{color:#fff;}
.triple-track .panel-default>.panel-heading {background:blue;}
.triple-track div:nth-child(3) .panel-default {border:1px #000099 solid;}
.triple-track div:nth-child(3) .panel-default>.panel-heading {border:1px #000099 solid!important; background:#000099!important;}

.quad-track .panel-default{border:1px orange solid;}
.quad-track .panel-title{color:#fff;}
.quad-track .panel-default>.panel-heading {background:orange;}
.quad-track div:nth-child(2) .panel-default {border:1px #CC9900 solid;}
.quad-track div:nth-child(2) .panel-default>.panel-heading {border:1px #CC9900 solid; background:#CC9900;}
.quad-track div:nth-child(4) .panel-default {border:1px #996633 solid;}
.quad-track div:nth-child(4) .panel-default>.panel-heading {border:1px #996633 solid; background:#996633;}
-----------------------------------------------------------------*/

 