/*
Site Name: EMS Bootstrap Theme
Author: WBR Web Team
Year: 2015

eTail Red   - #c80b26
eTail Blue  - #012B45

bootstrap-primary: #428bca;
bootstrap-success: #5cb85c;
bootstrap-info:    #5bc0de;
bootstrap-warning: #f0ad4e;
bootstrap-danger:  #d9534f;

*/

body{background:#fbfbfb; font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';}
h1.page-header{text-align:center;}

#nav-container{height:50px; background-color:#fff; border-bottom:2px solid #284973;}
.navbar-default {background:#fff!important; border-bottom:2px solid #012B45!important;}
.nav-navbar-mobile li>a:link {padding:12px; font-size:11px;}

.navbar-nav>li{border-right:1px solid #eee;}
.navbar-nav>li:hover{border-top:1px solid #E9392F;}
.navbar-nav>li:last-child{border-right:0px;}

.navbar-nav>li>a:link{color:#284973;font-size:11px; text-transform:uppercase; letter-spacing:0.065em; font-weight:400; height:48px; font-family:'Lato','Helvetica Neue','Helvetica','Arial','sans-serif';}
.navbar-nav>li>a:visited{color:#032b45;}
.navbar-nav>li>a:hover{color:#c9222b; border-top:1px solid #E9392F; margin-top:-2px;}

.dropdown-menu{background-color: rgba(1, 43, 69, 0.85); border:1px #012B45 solid; box-shadow: 3px 3px 10px #333;}
.dropdown-menu>li {margin:10px auto;}
.dropdown-menu>li:first-child {margin-top:0px;}
.dropdown-menu>li:last-child {margin-bottom:0px;}
.dropdown-menu>li>a:link{font-size:11px; letter-spacing:0.065em; text-transform:uppercase; font-weight:400; padding:10px; font-family:'Lato','Helvetica Neue','Helvetica','Arial','sans-serif';}
 

/* col-xs-* */ 
@media only screen and (min-width :320px){ 
	.navbar-nav>li>a{font-size:10px!important;padding:10px 15px;}
	.nav-navbar-mobile>li>a{font-size:12px!important;padding:10px 15px;}
   
   .dropdown-menu>li>a:link{color:#012B45; font-size:10px;}
   .dropdown-menu>li>a:visited{color:#012B45;}
   .dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-xs-* */ 
@media only screen and (min-width :480px){
	.navbar-brand img{height:70px; margin-top:-10px;}
 	.navbar-nav>li>a{font-size:10px!important;padding:10px 15px;}
	.nav-navbar-mobile>li>a{font-size:12px!important;padding:10px 15px;}

  	.dropdown-menu>li>a:link{color:#fff;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-sm-* */
@media only screen and (min-width :768px){ 
	.navbar-brand img{height:70px; margin-top:-10px;}
  	.navbar-nav{float:none;}
	.navbar-nav>li>a{font-size:10px!important;padding:15px 9px;}

	.dropdown-menu>li>a:link{color:#fff;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-md-* */
@media only screen and (min-width :992px){
	.navbar-brand img{height:90px; margin-top:-10px;}
 	.navbar-nav{float:left;}
	.navbar-nav>li>a{font-size:12px!important;padding:15px;}
	
	.dropdown-menu>li>a:link{color:#fff; font-size:12px;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}

/* col-lg-* */
@media only screen and (min-width :1200px){
	.navbar-brand img{height:110px; margin-top:-10px;}
 	.navbar-nav{float:left;}
	.navbar-nav>li>a{font-size:12px!important;padding:15px 20px;}
	
	.dropdown-menu>li>a:link{color:#fff; font-size:12px;}
	.dropdown-menu>li>a:visited{color:#fff;}
	.dropdown-menu>li>a:hover{color:#012B45;}
}


/*-----------------------------------------------------------------
// Home Page
-----------------------------------------------------------------*/
.container blockquote {background:#fbfbfb; border-left:3px #eee solid!important;}
.container blockquote p {font-weight:200!important; display:inline-block;}
.container cite:before {content: "- ";}
.container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;} 
.container-fluid .container blockquote {background-color:transparent; padding:0px!important; margin:40px auto!important; border:none!important;}
.container-fluid .container blockquote p {font-weight:200!important;}
.container-fluid .container cite:before {content: "- ";}
.container-fluid .container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;}


/*-----------------------------------------------------------------
// Agenda Styles
-----------------------------------------------------------------
.single-track .panel-default{border:1px DarkRed  solid;}
.single-track .panel-title{color:#fff;}
.single-track .panel-default>.panel-heading {background:DarkRed ;}

.double-track .panel-default{border:1px green solid	;}
.double-track .panel-title{color:#fff;}
.double-track .panel-default>.panel-heading {background:green;}
.double-track div:nth-child(2) .panel-default {border:1px #003300 solid!important;}
.double-track div:nth-child(2) .panel-default>.panel-heading {border:1px #003300 solid!important; background:#003300!important;}

.triple-track .panel-default{border:1px blue solid;}
.triple-track .panel-title{color:#fff;}
.triple-track .panel-default>.panel-heading {background:blue;}
.triple-track div:nth-child(3) .panel-default {border:1px #000099 solid;}
.triple-track div:nth-child(3) .panel-default>.panel-heading {border:1px #000099 solid!important; background:#000099!important;}

.quad-track .panel-default{border:1px orange solid;}
.quad-track .panel-title{color:#fff;}
.quad-track .panel-default>.panel-heading {background:orange;}
.quad-track div:nth-child(2) .panel-default {border:1px #CC9900 solid;}
.quad-track div:nth-child(2) .panel-default>.panel-heading {border:1px #CC9900 solid; background:#CC9900;}
.quad-track div:nth-child(4) .panel-default {border:1px #996633 solid;}
.quad-track div:nth-child(4) .panel-default>.panel-heading {border:1px #996633 solid; background:#996633;}
-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
// Pricing Table base Styling
-----------------------------------------------------------------*/
.panel-body {background-color:#aaa;}

/*  Pricing Table Hover Effects */
.panel.price {border: 1px solid rgb(236, 236, 236); }
.panel.price, .panel.price>.panel-heading{ border-radius:0px;  -moz-transition: all .3s ease; -o-transition:  all .3s ease; -webkit-transition:  all .3s ease; }
.panel.price:hover{ box-shadow: 0px 0px 30px rgba(0,0,0, .2); }
.panel.price:hover>.panel-heading{ box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset; }

/* Pricing Table Subtle Border Styling */
.panel.price>.panel-heading{ box-shadow: 0px 3px 0px rgba(200,200,200, .2) inset; }

/*  Pricing Table Footer */
.price .panel-footer { color: #fff; border-bottom:0px; background-color:  rgba(0,0,0, .1); box-shadow: 0px 3px 0px rgba(0,0,0, .3);} /* Footer Box styling */
.price .pricing-qty {color:gray;}

/* Pricing Table Pricing Header Typography */
.panel .panel-body p strong {color: #47080B; font-weight:900; font-size:30px;}
.panel-body p strike {font-size:24px; }

/* Pricing Table Red Button */
.btn-register{text-shadow:1px 1px #333; color:#fff; background:#c9222b;  font-size:20px ; font-weight:900 ; text-transform:uppercase; letter-spacing:1px ;}
.btn-register:hover{background:#a7060f ;}

