/*
Site Name: EMS Bootstrap Theme
Author: WBR Web Team
Year: 2015

eTail Red   - #c80b26
eTail Blue  - #012B45

bootstrap-primary: #428bca;
bootstrap-success: #5cb85c;
bootstrap-info:    #5bc0de;
bootstrap-warning: #f0ad4e;
bootstrap-danger:  #d9534f;

*/

html{text-rendering:optimizeLegibility;}
body{background:#fbfbfb; font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; }
h1,h2,h3,h4,h5{color:#565656; font-weight:300;}
 
/* Vertical Utility Classes */
.voffset  {margin-top: 2px;}   .voffset1 {margin-top: 5px;} 
.voffset2 {margin-top: 10px;}  .voffset3 {margin-top: 15px;} 
.voffset4 {margin-top: 30px;}  .voffset5 {margin-top: 40px;} 
.voffset6 {margin-top: 60px;}  .voffset7 {margin-top: 80px;}
.voffset8 {margin-top: 100px;} .voffset9 {margin-top: 150px;}

/* Background Color Utility Classes */
.bg-grey{background:#eee!important; padding-bottom:25px; border-top:1px #dedede solid!important; border-bottom:1px #dedede solid!important;}
.bg-blue{background:#012B45!important; padding-bottom:25px; border-top:1px #dedede solid!important; border-bottom:1px #dedede solid!important;}
.bg-img{min-height:250px; background: url(http://lorempixel.com/output/technics-q-c-1200-300-8.jpg) center center fixed no-repeat; background-size:cover;}

/* Text Color Utility Classes */
.text-grey {color:#999!important;}
.text-black {color:#333!important;}
.text-blue {color:#012B45!important;}
.text-white{color:#fff!important; text-shadow:.025em .025em #666;}

/* Hover Utility Classes */
.ease {transition:0.2s; transition-timing-function:linear; -webkit-transition:0.2s; -webkit-transition-timing-function:linear;}
.transparent:hover {zoom:1; filter:alpha(opacity=100); opacity:1.0; -webkit-transform:translateZ(0); transform:translateZ(0);}
.transparent:hover {zoom:1; filter:alpha(opacity=85); opacity:0.85; -webkit-transform:translateZ(0); transform:translateZ(0);}

/* Border Radius Utility Classes */
.br5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.br10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.br20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}

/* HTML Structure ID's */
#nav-container{height:50px;}
.navbar-toggle{}
.nav-navbar-mobile {margin:0px auto;}
.nav-navbar-mobile li{display:inline-block;}
.nav-navbar-mobile li>a:link{font-size:11px;}
		
#header-content{background:#012B45; min-height:175px;}
	
#content-container {min-height:600px;}
#content-container .container p,ul,ol,li,table,blockquote,cite,address {color:#5f5f5f; font-weight:400; line-height:25px; letter-spacing:0.065em;}
#content-container .container a{color:#428bca;}
#content-container .container .btn{color:#fff;}

#footer-container {min-height:140px; margin-top:40px; background:#012B45;}
#footer-container p,a,ul,ol,table,blockquote,cite,address{color:#fff;}
#footer-container li{border-right:.15em #fff solid; line-height:12px;}
#footer-container li:last-child {border:none;}

/* Primary Nav */
.navbar-collapse {border:none!important;}
.navbar-nav>li {border-right:1px solid #eee;}
.navbar-nav>li:last-child {border:0px;}
.navbar-nav>li>a{color:#333!important;}
.navbar-nav>li>a:hover{color:#999!important; }

/* .container-fluid Blockqoute Stlying*/
.container blockquote {background:#fbfbfb; border-left:3px #eee solid!important;}
.container blockquote p {font-weight:200!important; display:inline-block;}
.container cite:before {content: "- ";}
.container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;} 
.container-fluid .container blockquote {background-color:transparent; padding:0px!important; margin:40px auto!important; border:none!important;}
.container-fluid .container blockquote p {font-weight:200!important;}
.container-fluid .container cite:before {content: "- ";}
.container-fluid .container cite {font-size:18px!important;font-weight:600!important; padding:0px!important; margin:0px!important; border:none;}

.sponsor-strip {}
.sponsor-strip img {border: 2px solid #D2D2D2; opacity:0.5;}
.sponsor-strip img:hover { opacity:1; transition: .2s ease; }

.sponsor-strip img {border: 2px solid #D2D2D2; opacity:0.5;}
.sponsor-strip img:hover { opacity:1; transition: .2s ease; } 


/*-----------------------------------------------------------------
// Pricing Table base Styling
-----------------------------------------------------------------*/

/*  Pricing Table Hover Effects */
.panel.price {border: 1px solid rgb(236, 236, 236) !important; }
.panel.price, .panel.price>.panel-heading{ border-radius:0px;  -moz-transition: all .3s ease; -o-transition:  all .3s ease; -webkit-transition:  all .3s ease; }
.panel.price:hover{ box-shadow: 0px 0px 30px rgba(0,0,0, .2); }
.panel.price:hover>.panel-heading{ box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset; }

/* Pricing Table Subtle Border Styling */
.panel.price>.panel-heading{ box-shadow: 0px 3px 0px rgba(200,200,200, .2) inset; }

/*  Pricing Table Footer */
.price .panel-footer { color: #fff; border-bottom:0px; background-color:  rgba(0,0,0, .1); box-shadow: 0px 3px 0px rgba(0,0,0, .3);} /* Footer Box styling */


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .navbar-brand img{height:70px; margin-top:-10px;}
    .navbar-nav>li>a{font-size:14px; padding:10px 15px;}
	#footer-container {margin: 50px 0px;}
	#nav-container nav {position: relative; right: 0; left: 0; z-index: 1030;}
}

/* col-xs-* */ 
@media only screen and (min-width : 480px) {
    .navbar-nav>li>a{font-size:14px; padding:10px 15px;}
	#footer-container {margin: 85px 0px;}
	#nav-container nav {position: relative; right: 0; left: 0; z-index: 1030;}
}

/* col-sm-* */
@media only screen and (min-width : 768px) {
    .navbar-nav {float:none;}
    .navbar-nav>li>a{font-size:11px; padding:15px 10px;}
	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}

/* col-md-* */
@media only screen and (min-width : 992px) {
    .navbar-brand img{height:100px; margin-top:-10px;}
    .navbar-nav {float:left;}
    .navbar-nav>li>a{font-size:14px; padding:15px;}
	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}

/* col-lg-* */
@media only screen and (min-width : 1200px) {
    .navbar-brand img{height:120px; margin-top:-10px;}
    .navbar-nav {float:left;}
    .navbar-nav>li>a{font-size:14px; padding:15px 20px;}
	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}