/*
Site Name: EMS Bootstrap Theme
Author: WBR Web Team
Year: 2015

eTail Red   - #c80b26
eTail Blue  - #012B45

bootstrap-primary: #428bca;
bootstrap-success: #5cb85c;
bootstrap-info:    #5bc0de;
bootstrap-warning: #f0ad4e;
bootstrap-danger:  #d9534f;

*/

html{text-rendering:optimizeLegibility;}
body{background:#fbfbfb;}
h1,h2,h3,h4,h5{color:#565656; font-weight:300;}
 
/* Vertical Utility Classes */
.voffset  {margin-top: 2px;}   .voffset1 {margin-top: 5px;} 
.voffset2 {margin-top: 10px;}  .voffset3 {margin-top: 15px;} 
.voffset4 {margin-top: 30px;}  .voffset5 {margin-top: 40px;} 
.voffset6 {margin-top: 60px;}  .voffset7 {margin-top: 80px;}
.voffset8 {margin-top: 100px;} .voffset9 {margin-top: 150px;}

/* Background Color Utility Classes */
.bg-grey{background:#eee!important; padding-bottom:25px; border-top:1px #dedede solid!important; border-bottom:1px #dedede solid!important;}
.bg-blue{background:#012B45!important; padding-bottom:25px; border-top:1px #dedede solid!important; border-bottom:1px #dedede solid!important;}
.bg-img{min-height:250px; background: url(http://lorempixel.com/output/technics-q-c-1200-300-8.jpg) center center fixed no-repeat; background-size:cover;}

/* Text Color Utility Classes */
.text-grey {color:#999!important;}
.text-black {color:#333!important;}
.text-blue {color:#012B45!important;}
.text-white{color:#fff!important; text-shadow:.025em .025em #666;}

/* Hover Utility Classes */
.ease {transition:0.2s; transition-timing-function:linear; -webkit-transition:0.2s; -webkit-transition-timing-function:linear;}
.transparent:hover {zoom:1; filter:alpha(opacity=100); opacity:1.0; -webkit-transform:translateZ(0); transform:translateZ(0);}
.transparent:hover {zoom:1; filter:alpha(opacity=85); opacity:0.85; -webkit-transform:translateZ(0); transform:translateZ(0);}

/* Border Radius Utility Classes */
.br5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.br10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.br20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}

/* HTML Structure ID's */
#nav-container{height:50px;}
.nav-navbar-mobile {margin:0px auto;}
.nav-navbar-mobile li{display:inline-block;}
.nav-navbar-mobile li>a:link{font-size:11px;}
		
#header-content{background:#012B45; min-height:175px;}
#header-content .event-dynamic-name h3 {color:#fff;}
#header-content .event-dynamic-name:hover {text-decoration:none!important;}
#header-content .event-dynamic-info span{color:#fff; display:block;}
	
#content-container {min-height:600px;}
#content-container .container p,ul,ol,li,table,blockquote,cite,address {color:#5f5f5f; font-weight:400; line-height:25px; letter-spacing:0.065em;}
#content-container .container a{color:#428bca!important;}
#content-container .container .btn-primary,.btn-danger,.btn-success,.btn-warning{color:#fff!important;}
#content-container .container .btn-default{color:#5f5f5f;}

#sponsor-container {margin-top:20px;}
#sponsor-container img{height:120px; width:180px;}
	@media only screen and (min-width :320px){#sponsor-container img{height:120px;width:180px;}}
	@media only screen and (min-width :480px){#sponsor-container img{height:120px;width:180px;}}
	@media only screen and (min-width :768px){#sponsor-container img{height:120px;width:180px;}}
	@media only screen and (min-width :992px){#sponsor-container img{height:120px;width:140px;}}
	@media only screen and (min-width :1200px){#sponsor-container img{height:120px;width:180px;}}


#footer-container {min-height:140px; margin-top:40px; background:#012B45;}
#footer-container p,a,ul,ol,table,blockquote,cite,address{color:#fff;}
#footer-container li{border-right:.15em #fff solid; line-height:12px;}
#footer-container li:last-child {border:none;}

#mobile-nav-container .navbar-header {border-bottom:1px #eee solid;}

/* Navigation CSS */
.navbar-collapse {border:none!important;}
.navbar-nav>li {border-right:1px solid #eee;}
.navbar-nav>li:last-child {border:0px;}
.navbar-nav>li>a{color:#333!important;}
.navbar-nav>li>a:hover{color:#999!important; }

.dropdown-menu{}
.dropdown-menu>li {}
.dropdown-menu>li>a:link{font-size:14px;}


/* Speaker Page CSS */
.speakers .speaker-listing{}
.speakers .speaker-name{}
.speakers .speaker-title{display:block;}
.speakers .speaker-company{display:block}
.speakers .speaker-logo{float:right; margin-top:20px;}
.speakers .speaker-image img{display: block; max-width: 100%; height: auto;}

/* Agenda Day CSS */
.agenda-day .panel {margin-bottom:10px!important;}
.agenda-day .panel-heading{padding: 15px;}
.agenda-day .panel-collapse {background:#fff ;}

/*.media-type .dropdown .btn {border:none; }
.media-type .dropdown .btn-default, .btn-default:hover, .btn-default:active {background-color:transparent; border:none; outline:0px !important; -webkit-appearance:none; -webkit-box-shadow:none; box-shadow:none;}
.media-type .dropdown .caret { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #000000; }
.media-type .dropdown .media-type-title {font-size:22px; text-decoration:underline;}
.media-type .dropdown .dropdown-menu {background-color:#eaeaea; box-shadow:none; border:none; }*/

/* Media Cebter Listings*/
.well { -webkit-border-radius:2px; -webkit-background-clip:padding-box; -moz-border-radius:2px; -moz-background-clip:padding; border-radius:2px; background-clip:padding-box; -webkit-box-shadow:0 0 3px rgba(0,0,0,.2);-moz-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2); background-color:#fbfbfb; border:0; color:#262626; position:relative; margin-bottom:30px; min-height:0;}
.well.with-header {padding-top:60px;}
.well.with-footer { padding-bottom:60px;}
.well .well-header { position:absolute; top:0; right:0; left:0; padding:5px 0 0 5px; text-align:left; border-radius:2px 2px 0 0; border-bottom:1px solid #e5e5e5 }
.well .well-footer { position:absolute; bottom:0; right:0; left:0; padding:5px 0 0 5px; border-top:1px solid #e5e5e5; border-radius:0 0 2px 2px}

.mediacenter .breadcrumb>li+li:before {content: "\00a6";}

.bordered-red {  border-color: #c80b26 !important;}


/* col-xs-* */ 
@media only screen and (min-width : 320px) {
    .navbar-brand img{height:70px; margin-top:-10px;}
    .navbar-nav>li>a{font-size:14px; padding:10px 15px;}
	#footer-container {margin-bottom:55px;}
	#nav-container nav {position: relative; right: 0; left: 0; z-index: 1030;}
}

/* col-xs-* */ 
@media only screen and (min-width : 480px) {
    .navbar-nav>li>a{font-size:14px; padding:10px 15px;}
	#footer-container {margin-bottom:50px;}
	#nav-container nav {position: relative; right: 0; left: 0; z-index: 1030;}
}

/* col-sm-* */
@media only screen and (min-width : 768px) {
    .navbar-nav {float:none;}
    .navbar-nav>li>a{font-size:10px; padding:15px 10px;}
	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}

/* col-md-* */
@media only screen and (min-width : 992px) {
    .navbar-brand img{height:100px; margin-top:-10px;}
    .navbar-nav {float:left;}
    .navbar-nav>li>a{font-size:14px; padding:15px;}
	.dropdown-menu>li>a{font-size:12px;}
 	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}

/* col-lg-* */
@media only screen and (min-width : 1200px) {
    .navbar-brand img{height:120px; margin-top:-10px;}
    .navbar-nav {float:left;}
    .navbar-nav>li>a{font-size:14px; padding:15px 20px;}
	.dropdown-menu>li>a{font-size:12px;}
 	#footer-container{margin:0px; margin-top:40px;}
	#nav-container nav {position: fixed; right: 0; left: 0; z-index: 1030;}
}
